/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 mai 2020, 10:56:38
    Author     : emman
*/

.center {
  margin: auto;
  width: 60%;
  padding: 10px;
  text-align: center;
}

.no_center {
  text-align: left;
  padding: 0 50px;
}