/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 mai 2020, 10:04:01
    Author     : Yumahey
*/

.titre {
    text-align: center;
    font-family: 'EB Garamond', Times New Roman;
    font-style: italic;
}

.bouton {
    background-color: var(--melon);
    border-style: solid;
    border-width: 5px;
    border-color: var(--melon);
    border-radius: 15px;
    text-decoration: none;
    width: 9%;
    text-align: center;
}

.bouton:hover{
    background-color: var(--english_red);
    border-color: var(--english_red);
}

#bienvenue{
    
    font-family: 'Roboto', Verdana;
    font-style: italic;
    font-weight: lighter;
    font-size: 2em;
}


#a_faire{
    font-family: 'Roboto', Verdana;
    font-style: italic;
}